<div class="profile_pic">
    <%= image_tag("profile-default.jpg", class: "img-responsive") %>
</div>

<div class="profile_info">
    <h2><%= @user.username %></h2>
    <h4>Rating: <%= @user.rating %> </h2>
</div>